<!-- *Begin Product Card Equalizer  - In this sectoin we wil use a product card from the building blocks insde of the equalizer code from the kitchen sink.
https://foundation.zurb.com/sites/docs/kitchen-sink.html#accordion -->

  <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="medium" id="test-eq">
    <div class="cell medium-2">
      <div class="callout" data-equalizer-watch>
        <!-- *Begin Card-->

        <div class="card card-tabs">

          <div class="card-divider">
            <h6 class="float-left">Title</h6>
            <ul class="tabs menu align-right" data-active-collapse="true" data-tabs id="collapsing-tabs">
              <!-- note: these need to be in reverse order because of the align-right setting in .menu -->
              <li class="tabs-title"><a href="#panel3c">
                <i class="fa fa-cog" aria-hidden="true"></i> Settings
              </a></li>
              <li class="tabs-title"><a href="#panel2c">
              <i class="fa fa-area-chart" aria-hidden="true"></i>
                Stats
              </a></li>
              <li class="tabs-title is-active"><a href="#panel1c" aria-selected="true"><i class="fa fa-home" aria-hidden="true"></i>
               Home</a></li>
             </ul>
           </div>

           <div class="tabs-content" data-tabs-content="collapsing-tabs">

            <div class="tabs-panel is-active" id="panel1c">
              <img src="d3dgx0x8x0r1gr.cloudfront.net/img/adam/cloud.jpg">
              <div class="card-section">
                <h4>This is a card.</h4>
                <p>It has an easy to override visual style, and is appropriately subdued.</p>
              </div>
            </div>

            <div class="tabs-panel" id="panel2c">
              <div class="card-section">
                <h4>This is a card.</h4>
                <p>It has an easy to override visual style, and has a cat on the bottom.</p>
              </div>
              <img src="http://lorempixel.com/485/248/cats/5/">
            </div>

            <div class="tabs-panel" id="panel3c">
              <div class="card-section">
                <h4>This is a card.</h4>
                <img src="http://lorempixel.com/485/248/cats/6/">
                <p>It has an easy to override visual style, it has an image in the card section.</p>
              </div>
            </div>

          </div>

        </div>



        <!-- *End Card-->

      </div>
    </div>
    <div class="cell medium-2">
      <div class="callout" data-equalizer-watch>
        <!-- *Begin Card-->

        <div class="card card-tabs">

          <div class="card-divider">
            <h6 class="float-left">Title</h6>
            <ul class="tabs menu align-right" data-active-collapse="true" data-tabs id="collapsing-tabs">
              <!-- note: these need to be in reverse order because of the align-right setting in .menu -->
              <li class="tabs-title"><a href="#panel3c">
                <i class="fa fa-cog" aria-hidden="true"></i> Settings
              </a></li>
              <li class="tabs-title"><a href="#panel2c">
              <i class="fa fa-area-chart" aria-hidden="true"></i>
                Stats
              </a></li>
              <li class="tabs-title is-active"><a href="#panel1c" aria-selected="true"><i class="fa fa-home" aria-hidden="true"></i>
               Home</a></li>
             </ul>
           </div>

           <div class="tabs-content" data-tabs-content="collapsing-tabs">

            <div class="tabs-panel is-active" id="panel1c">
              <img src="http://lorempixel.com/485/248/cats/7/">
              <div class="card-section">
                <h4>This is a card.</h4>
                <p>It has an easy to override visual style, and is appropriately subdued.</p>
              </div>
            </div>

            <div class="tabs-panel" id="panel2c">
              <div class="card-section">
                <h4>This is a card.</h4>
                <p>It has an easy to override visual style, and has a cat on the bottom.</p>
              </div>
              <img src="http://lorempixel.com/485/248/cats/5/">
            </div>

            <div class="tabs-panel" id="panel3c">
              <div class="card-section">
                <h4>This is a card.</h4>
                <img src="http://lorempixel.com/485/248/cats/6/">
                <p>It has an easy to override visual style, it has an image in the card section.</p>
              </div>
            </div>

          </div>

        </div>



        <!-- *End Card-->

      </div>
    </div>
    <div class="cell medium-2">
      <div class="callout" data-equalizer-watch>

        <!-- *Begin Card-->

        <div class="card card-tabs">

          <div class="card-divider">
            <h6 class="float-left">Title</h6>
            <ul class="tabs menu align-right" data-active-collapse="true" data-tabs id="collapsing-tabs">
              <!-- note: these need to be in reverse order because of the align-right setting in .menu -->
              <li class="tabs-title"><a href="#panel3c">
                <i class="fa fa-cog" aria-hidden="true"></i> Settings
              </a></li>
              <li class="tabs-title"><a href="#panel2c">
              <i class="fa fa-area-chart" aria-hidden="true"></i>
                Stats
              </a></li>
              <li class="tabs-title is-active"><a href="#panel1c" aria-selected="true"><i class="fa fa-home" aria-hidden="true"></i>
               Home</a></li>
             </ul>
           </div>

           <div class="tabs-content" data-tabs-content="collapsing-tabs">

            <div class="tabs-panel is-active" id="panel1c">
              <img src="http://lorempixel.com/485/248/cats/7/">
              <div class="card-section">
                <h4>This is a card.</h4>
                <p>It has an easy to override visual style, and is appropriately subdued.</p>
              </div>
            </div>

            <div class="tabs-panel" id="panel2c">
              <div class="card-section">
                <h4>This is a card.</h4>
                <p>It has an easy to override visual style, and has a cat on the bottom.</p>
              </div>
              <img src="http://lorempixel.com/485/248/cats/5/">
            </div>

            <div class="tabs-panel" id="panel3c">
              <div class="card-section">
                <h4>This is a card.</h4>
                <img src="http://lorempixel.com/485/248/cats/6/">
                <p>It has an easy to override visual style, it has an image in the card section.</p>
              </div>
            </div>

          </div>

        </div>



        <!-- *End Card-->

      </div>
    </div>
  </div>

<!-- *End Product Card Equalizer -->
