
<!-- Navigation -->
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
       <div class="container">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="http://www.qcc.cuny.edu/">QCC </a>
           </div>
           <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                   <li>
                       <a href="http://www.qcc.cuny.edu/about/index.html">About</a>
                   </li>
                   <li>
                       <a href="http://www.qcc.cuny.edu/admissions/index.html">Admission</a>
                   </li>
                   <li>
                       <a href="index.html">Academics</a>
                   </li>

                     <li>
                       <a href="http://www.qcc.cuny.edu/student-life/index.html">Student Life</a>
                   </li>
                     <li>
                       <a href="http://www.qcc.cuny.edu/give/index.html">Give</a>
                   </li>
                     <li>
                       <a href="http://www.qcc.cuny.edu/login.html">Login</a>
                   </li>

               </ul>
           </div>
           <!-- /.navbar-collapse -->
       </div>
       <!-- /.container -->
   </nav>




        <div class="container">

       <div class="row">

           <div class="col-lg-12">
               <br><div class="thumbnail">
                <img src="media/QCC2.png" width="1150" align="center">
              <br>
              <br>
        </div>
              </div>
      </div>
      <hr>
       <!-- Marketing Icons Section -->
                   <div class="col-lg-12">

               <p align="justify">More than 16,000 students are enrolled in Associate degree or certificate programs and another 10,000 students attend continuing education programs at Queensborough Community College.</p>

       <p align="justify">Queensborough prepares students for an exciting new career or for transfer to a four-year program. In fact, more than half of Queensborough students transfer to a four-year CUNY institution after earning their Associate degrees.</p><hr>
           </div>


       <!-- /.row -->


   <div class="row products">

     <div class="col-sm-4 col-lg-4 col-md-4">
       <div class="thumbnail">

         <a href="Business.html">
         <img class="img-responsive img-hover img-rounded" src="pic/Business_1.png" alt=""></a>

       </div>
     </div>

     <div class="col-sm-4 col-lg-4 col-md-4">
       <div class="thumbnail">
       <a href="Health.html">
         <img class="img-responsive img-hover img-rounded" src="pic/Health1.png" alt="">
         </a>
       </div>
     </div>

     <div class="col-sm-4 col-lg-4 col-md-4">
       <div class="thumbnail"><a href="Liberal.html">
         <img class="img-responsive img-hover img-rounded" src="pic/LB_2.png" alt=""></a>

       </div>
     </div>

     <div class="col-sm-4 col-lg-4 col-md-4">
       <div class="thumbnail"><a href="STEM.html">
         <img class="img-responsive img-hover img-rounded" src="pic/STEM_1.png" alt=""></a>

       </div>
     </div>

     <div class="col-sm-4 col-lg-4 col-md-4">
       <div class="thumbnail">
       <a href="VAPA.html">
         <img class="img-responsive img-hover img-rounded" src="pic/vapa.png" alt=""> </a>


       </div>
     </div>

     <div class="col-sm-4 col-lg-4 col-md-4">
       <h4><strong>Degree List</strong></h4>
       <p align="justify">Queensborough offers transfer programs, including dual-joint degree programs, as well as career and certificate programs, and your choice of program automatically enrolls you in one of five Queensborough Academies.</p>
     <a class="btn btn-primary" align="justfiy" target="_blank" href="http://www.qcc.cuny.edu/academics/programs-of-study.html" >Search</a>
     </div>

   </div>



       <!-- Features Section -->
       <div class="row">
           <div class="col-lg-12">
               <h2 class="page-header">QCC MAP</h2>
           </div>
           <div class="col-md-6">
               <p><strong>Building Directory:</strong></p>
               <ul>
                   <li align="justify">Administration Building</li>
                   <li align="justify">C Building</li>
                   <li align="justify">Humanities Building</li>
                   <li align="justify">Kurt R. Schmeller Library Building</li>
                   <li align="justify">Medical Arts Building</li>
                   <li align="justify">Oakland Building</li>
                   <li align="justify">Robert F. Kennedy Hall (Gymnasium)</li>
                   <li align="justify">Science Building</li>
                   <li align="justify">Service Building</li>
                   <li align="justify">Student Union</li>
                   <li align="justify">Technology Building</li>
                   <li align="justify">W Building</li>
                   <li align="justify">Y2 Building</li>
                   <li align="justify">Z Building</li>

               </ul>

                   <ul>
                     <li align="justify"> Q27 buses (local and limited) stop on campus from 7 a.m. – 11 p.m. on weekdays. On Saturday and Sunday, the Q27 stops at 56th Avenue and Springfield Blvd. </li>
                     <li align="justify"> Q30 buses marked "Queensborough" stop at the campus entrance on 56th Avenue from 7 a.m. – 7 p.m. on weekdays. On Saturday and Sunday, all Q30 buses stop at Horace Harding Expressway and Springfield Blvd.</li>
                     <li align="justify">The Nassau Inter-County Express N20 and N21 buses stop just north of campus at Northern Boulevard/223rd Street. </li>

                   </ul>

           </div>

           <div class="col-md-6">
               <img class="img-responsive" src="pic/map.JPG" alt="">
           </div>
       </div>
       <!-- /.row -->

       <hr>

       <!-- Call to Action Section -->
       <h2 class="page-header">To Learn More</h2>
       <div class="row">

           <div class="col-md-4">
               <div class="panel panel-default">

                   <div class="panel-body">
                       <p align="justify">The <b>Mathematics Learning Center</b> is a tutoring and self-study facility accessible to all students. Open year round providing assistance for all mathematics and computer science courses, from the developmental to the advanced level.</p>
                       <a href="http://www.qcc.cuny.edu/mathCS/committee/mathcenter/index.html" class="btn btn-default">Learn More</a>
                   </div>
               </div>
           </div>
           <div class="col-md-4">
               <div class="panel panel-default">

                   <div class="panel-body">
                       <p align="justify">The <b>Campus Writing Center (CWC)</b> serves as a college-wide resource providing QCC students with FREE tutoring assistance for all English (EN) coursework, as well as any writing-related or WI assignment across the curriculum.</p>
                       <a href="http://www3.qcc.cuny.edu/cwcWeb/cwc.aspx" class="btn btn-default">Learn More</a>
                   </div>
               </div>
           </div>
           <div class="col-md-4">
               <div class="panel panel-default">

                   <div class="panel-body">
                       <p align="justify">The <b>Student Learning Center</b> provides a welcoming environment for students and faculty for teaching and learning. Offering a variety of research and educational resources, including technology, as well as support services.</p>
                       <a href="http://www.qcc.cuny.edu/slc/index.html" class="btn btn-default">Learn More</a>
                   </div>
               </div>
           </div>
       </div>
       <hr>

       <!-- Footer -->
       <footer>
           <div class="row">
               <div class="col-lg-12">
                   <p><center>QCC Copyright &copy; Your Website, year | 2019</center></p>
               </div>
           </div>
       </footer>

   </div>
